@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Access Denied</h4>
                <p>You do not have permission to view this page. If you believe this is an error, please contact the site administrator.</p>
                <hr />
                <p class="mb-0">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
                </p>
            </div>
        </div>
    </div>
</div>
